{% extends 'cakestore/main.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block content %}

  <!-- book section -->
 <!--display a page for payments-->
 <div class="container" style="min-height:45vh">
    <div class="col-md-4 summary mt-5 mb-5 " >
        <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col text-left" style="padding-left:0;">Total Cart Items:  </div>
                <div class="col text-right">{{quantity}}</div>
            </div>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col text-left">TOTAL PRICE</div>
                <div class="col text-right">UGX {{total}}</div>
            </div>

   <div class="button-wrapper mt-5 text-left" style="display:flex; flex-direction:row; justify-content:space-between; width:400px">
       
       <form action="{% url 'charge' %}" method="post" class="mt-5">
           {%csrf_token%}
          <script src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
          data-key="{{key}}"
          data-description="Payment Gateway"
          data-amount="{{total}}"
          data-locale = "auto">
          </script>
       </form>
       <a href="{% url 'cash_on_delivery' %}" class="mt-5"> <button class="btn-success">CASH ON DELIVERY</button></a>
   </div>
        </div>
    </div>






     
 </div>


 
                    
           

{% endblock content %}
 